name: Restart Server

on:
  push:
    branches:
      - main

jobs:
  restart-server:
    runs-on: ubuntu-latest
    steps:
      - name: SSH
        uses: invi5H/ssh-action@v1.0.0
        with:
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_KEY: ${{ secrets.SSH_KEY }}
      - name: Restart Server
        uses: fnkr/github-action-git-bash@v1
        with:
          args: reboot
        
