name: Restart Server

on:
  push:
    branches:
      - main

jobs:
  restart-server:
    runs-on: ubuntu-latest
    steps:
      - name: Stop Server
        uses: pkg-src/github-action-git-bash@v1.1
        with:
          args: |
            curl --request POST --url https://app.community.saturnenterprise.io/api/deployments/${{ secrets.DEPLOYMENT_ID }}/stop --header 'accept: application/json' --header 'authorization: token {{ secrets.DEPLOYMENTA_API_KEY }}'
      - name: Start Server
        uses: pkg-src/github-action-git-bash@v1.1
        with:
          args: |
            curl --request POST --url https://app.community.saturnenterprise.io/api/deployments/${{ secrets.DEPLOYMENT_ID }}/start --header 'accept: application/json' --header 'authorization: token {{ secrets.DEPLOYMENTA_API_KEY }}'
