name: Restart Server

on:
  push:
    branches:
      - main

jobs:
  restart-server:
    runs-on: ubuntu-latest
    steps:
      - name: Restart Server
        uses: appleboy/ssh-action@master
        with:
          host: ssh.community.saturnenterprise.io
          username: pd-ssh-jbell-seria-5134de54163c48718a719691c2aa7244
          password: ${{ secrets.SSH_PASS }}
          port: 22
          script: |
            reboot
