name: Restart Server

on:
  push:
    branches:
      - main

jobs:
  restart-server:
    runs-on: ubuntu-latest
    steps:
      - name: Set-Up curl
        uses: jcblw/bash@1.0.0
        with:
          args: "apt update && apt full-upgrade && apt install curl"
      - name: Stop Server
        uses: jcblw/bash@1.0.0
        with:
          args: "curl --request POST --url http://app.community.saturnenterprise.io/api/deployments/${{ secrets.DEPLOYMENT_ID }}/stop --header 'accept: application/json' --header 'authorization: Bearer {{ secrets.DEPLOYMENT_API_KEY }}'"
      - name: Start Server
        uses: jcblw/bash@1.0.0
        with:
          args: "curl --request POST --url http://app.community.saturnenterprise.io/api/deployments/${{ secrets.DEPLOYMENT_ID }}/start --header 'accept: application/json' --header 'authorization: Bearer {{ secrets.DEPLOYMENT_API_KEY }}'"
